.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-grid .skill-chip {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.skills-grid .skill-chip span,
.skills-grid .skill-chip a {
    display: inline-block;
    text-decoration: none;
}

.skills-grid .skill-chip:hover {
    background-color: #f0f0f0;
}

.skills-grid .skill-chip a:hover {
    color: #007BFF;
    text-decoration: underline;
}
