				:root 
			{
				--text-color: #000000;
				--bg-color: #ffffff;
				--button-bg-color: #4176b3;
				--button-hover-bg-color: #335d8e;
				--div-bg-color: #ffffff;
				--h1-color: #000000;
				--container-bg-color: #f9f9f9;
				--overlay-color: rgba(0, 0, 0, 0);
				--links-color: #466991;
				--section-bg-color: #ffffff;
			}
		
			a
			{␊
				color: var(--links-color) !important;␊
			}␊
			␊
			section
			{␊
				background-color: var(--section-bg-color) !important;
			}␊
			␊
			body 
			{␊
				transition: background-color 0.3s ease;␊
				color: var(--text-color);␊
				background-color: var(--bg-color);␊
			}␊
			
			.button 
			{
				background-color: var(--button-bg-color);
				color: var(--text-color);
				cursor: pointer;
				text-align: center;
				padding: 10px 20px;
				border: none;
				border-radius: 5px 0 5px 0;
				font-size: 12px;
			}
			
			.button:hover 
			{
				background-color: var(--button-hover-bg-color);
			}
			
			.button2 
			{
				position: fixed;
				color: #000000;
				top: 25px;
				border-radius:100%;
				right: 25px;
@@ -84,60 +84,69 @@
				border-radius: 10px;
				padding: 20px;
				margin-bottom: 20px;
				background-color: var(--container-bg-color); 
			}
			
			.content 
			{
				z-index: 3;
			}
			
			/* remove this at some point*/
			.custom
			{
				cursor: url(https://s3.us-east-1.amazonaws.com/files.florenceco.org/public/Logos/2024/Pointers/FC_PointerOutline.png), auto;
				 cursor: url(https://s3.us-east-1.amazonaws.com/files.florenceco.org/public/Logos/2024/Pointers/FC_PointerOutline.svg) 25 25, move;
			}
			
			/*
			.custom:hover 
			{
				cursor: auto;
			}
			*/
			
			body.dark-mode-enabled 
			{
				--text-color: #f5f5f5;
				--bg-color: #121212;
				--button-bg-color: #3b6aa3;
				--button-hover-bg-color: #2f5682;
				--div-bg-color: #1e1e1e;
				--h1-color: #ffffff;
				--container-bg-color: #1a1a1a;
				--overlay-color: rgba(0, 0, 0, 0.6);
				--links-color: #8ab4f8;
				--section-bg-color: #1e1e1e;
				background-color: var(--bg-color) !important;
				color: var(--text-color) !important;
			}
			
			div {
					background-color: var(--div-bg-color);␊
				}␊
			
			.focusable 
			{
				transition: background-color 0.3s ease; /* Smooth transition for background color */
			}
			
			
			.focusable-body 
			{
				position: relative;
				z-index: 1;
				background-color: #4d4d4d; /* Dark background */
				color: #000000; /* Light text color */
				cursor: pointer;
			}
			
			.focusable-container 
			{
				position: relative;
				z-index: 1;
				background-color: #4d4d4d; /* Dark background */
				color: #000000; /* Light text color */
				cursor: pointer;
			}
			
@@ -359,30 +368,40 @@
				border: 4.5px solid #9b9b9b;
				border-style: double;
				padding: 10px;
				margin-right: 10px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				background-color: var(--container-bg-color);
				border-radius: 10px; 
				width: 340px;
				font-size: 17px;
				z-index:9999;
				justify-content: left;
			}
			
			.switch:hover #tooltip 
			{
				display: block; 
			}
	
			.visual-mode-enabled
			{
				background-color: var(--bg-color) !important;
				color: var(--text-color) !important;
				z-index: 4;
			}
			
			body.vision-mode-enabled 
			{
				--text-color: #ffffff;
				--bg-color: #000000;
				--button-bg-color: #ffff00;
				--button-hover-bg-color: #ffd400;
				--div-bg-color: #000000;
				--h1-color: #ffffff;
				--container-bg-color: #000000;
				--overlay-color: rgba(255, 255, 255, 0.2);
				--links-color: #00ffff;
				--section-bg-color: #000000;
				background-color: var(--bg-color) !important;
				color: var(--text-color) !important;
			}
